.lander{
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
}
.first{
    background-color: #DFE1E7;
    width: 100%;
    height: 30%;
}
.holder{
    padding: 0px !important;
}