.product-card {
  background-repeat: no-repeat;
  background-size: contain;
  /* width: 400px;
  height: 350px; */
  padding:0 !important;
}
.product-card-img {
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: auto;
}
