* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: "Obitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
:root{
    --blue:#56CBF9;
    --green:#43d7b5;
    --grey:#778da9;
}